<div class="wrapper">
	<div class="container">

		<h1>Welcome to DIM</h1>
		<a class="pull-left" href="#">
			<img class="media-object dp img-circle" src="{{photoURL}}" style="width: 70px; height:70px;">
		</a>
		<form class="form" (submit)="login($event, username.value, password.value)">
			<input type="text" placeholder="Username" #username required (input)="emailChanged(username.value)">
			<input type="password" placeholder="Password" #password required>
            <label class="error" *ngIf="errorMessage">{{errorMessage}}</label>
			<br><button type="submit" id="login-button">Login</button>
            <br><a class="register" href="#" [routerLink]="['/register']">Create account</a>
		</form>
	</div>
</div>